DATABASE_URL="postgresql://clariobase_crm_user:change-me@localhost:5432/clariobase_crm?schema=public"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="replace-with-a-strong-32-character-minimum-secret"
